{% extends 'base.html.twig' %}
{% block body %}
    <h1>Page creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-warning" href="{{ path('page_index') }}"> Retour </a>
    <input type="submit" class="btn btn-success pull-right" value="Valider" />
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        tooglePasswordBloc();
        var checkboxTopPrivate = $('#cmsbundle_page_topPrivate');
        checkboxTopPrivate.change(tooglePasswordBloc)

        function tooglePasswordBloc() {

            var blocPassword = $('#cmsbundle_page_password').closest('.form-group');
            var inputPassword = $('#cmsbundle_page_password');
            var checkboxTopPrivate = $('#cmsbundle_page_topPrivate');

            if(checkboxTopPrivate.prop('checked')) {
                blocPassword.css('display', '');
                inputPassword.prop( "disabled", false );
            } else {
                inputPassword.prop( "disabled", true );
                blocPassword.css('display', 'none');
            }
        }
    </script>
{% endblock %}